/* ScreTable.mpdule.css */

.table {
  position: relative;
  left: 90%;
    border: 1px;
    width: 10%;
  }
  
  .th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
  
  .td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
  